bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/DemoApi/FileContentIndex/0c1659e9-9d69-4178-a810-823e39b64830.vsidx
/.vs/DemoApi/FileContentIndex/91fc7d6f-b345-476f-a232-6d3db362451f.vsidx
/.vs/DemoApi/FileContentIndex/6aae4462-c4bf-4148-b9fe-f33ef527ff2c.vsidx

/.vs/DemoApi/FileContentIndex/bfd70101-e751-415d-89b7-eb1be3eb8603.vsidx
/.vs/DemoApi
/.vs/CopilotSnapshots
